// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'partials/_dashboardFooter';
// GENERAL RULES --------------------
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// PARTIALS ---------------------
@import 'partials/_dashboardHeader';
@import 'partials/_homepageHeader2.0';
@import 'partials/restaurantDetails';
@import 'partials/forms';
@import 'partials/restaurants';
@import 'partials/cartCheckout';
@import 'partials/banners';
// HOMEPAGE PARTIALS
@import 'partials/homepage';
// DASHBOARD PARTIALS
@import 'partials/dashboard';
// ORDER PAGE PARTIALS
@import 'partials/orderPage';

// PALETTE
:root {
    --clr-red:0, 100%, 50%;
    --clr-neutral-100:0, 0%, 100%;
    --clr-neutral-900:0, 0%, 0%;
    --clr-primary: 352 48% 25%;
    --clr-secondary: 41 87% 48%;
    --clr-accent: 103 39% 77%;
}

::selection {
    color: hsl(var(--clr-primary));
    background-color: hsl(var(--clr-accent));
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
    border: 1px solid hsl(var(--clr-primary)) !important;
    box-shadow: 0 0 10px hsl(var(--clr-primary)) !important;
}
// SCROLLBAR
html {
    scrollbar-color: hsl(var(--clr-primary));
    scrollbar-width: 5px;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track{
    background-color: #f8fafc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(var(--clr-primary));
    border-radius: 10px;
}

#app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.charts {
    padding: 3rem 0;
}