// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'partials/_dashboardFooter';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//Partials
@import 'partials/_dashboardHeader';

// palette
:root {
    --clr-neutral-100:0, 0%, 100%;
    --clr-neutral-900:0, 0%, 0%;
    --clr-primary: 352 48% 25%;
    --clr-secondary: 41 87% 48%;
    --clr-accent: 103 39% 77%;
}

::selection {
    color: hsl(var(--clr-secondary));
    background-color: hsl(var(--clr-primary));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    height: 100vh;
}
// DASHBOARD - DISH MENU
@import 'partials/dashboardMenu';

// DASHBOARD - CREATE DISH FORM
@import 'partials/dashboardCreateDish';

// DASHBOARD - EDIT DISH FORM
@import 'partials/dashboardEditDish';

#restaurants,
#restaurant_menu {
    li {
        list-style-type: none;
        .card {
            margin-top: 2rem;
            min-height: 40ch;
            .card-header {
                min-height: 14ch;
            }
            mark {
                background-color: limegreen;
            }
        }
    }
}
