#banner {   
    width: 80%;
    margin: 50px auto;
    .container {
            .container-rider {
                margin: 5px 0;
                height: 400px;
                .ristoranti {
                position: relative;
                height: 100%;
                width: 100%;
                background-image: url(/storage/assets/pexels-khaled-hossain-3028127.jpg);
                background-position: center;
                background-size: cover;
                border-radius: 5px;
                .overlay{
                    color: white;
                    position: absolute;
                    background: rgb(61,22,22);
                    background: linear-gradient(0deg, rgba(61,22,22,0.6783088235294117) 35%, rgba(250,111,42,0.6699054621848739) 55%, rgba(69,252,164,0.4990371148459384) 85%);
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    .my-button {
                        cursor: pointer;
                        text-align: center;
                        font-weight: bold;
                        width: 200px;
                        padding: 10px;
                        border-radius: 2px;
                        background-color: white;
                        color: rgb(61,22,22);
                    }
                    .my-button:hover {
                        background-color: hsl(var(--clr-accent));
                        color: hsl(var(--clr-primary));
                    }
                    .details {
                        padding: 150px 40px 20px 20px;
                    }
                    @media screen and (max-width: 390px) {
                        .details {
                            padding: 100px 20px 20px 20px;
                        }
                    }  
                }
            } 
           
        }
        .container-lavora {
            margin: 5px 0;
            height: 400px;
            .lavora-con-noi {
                position: relative;
                height: 100%;
                width: 100%;
                background-image: url(/storage/assets/pexels-yente-van-eynde-2403391.jpg);
                background-position: center;
                background-size: cover;
                border-radius: 5px;
                .overlay{
                    border-radius: 5px;
                    color: white;
                    position: absolute;
                    background: rgb(61,22,22);
                    background: linear-gradient(0deg, rgba(61,22,22,0.6783088235294117) 35%, rgba(250,111,42,0.6699054621848739) 55%, rgba(69,252,164,0.4990371148459384) 85%);               
                    width: 100%;
                    height: 100%;
                    .my-button {
                        cursor: pointer;
                        text-align: center;
                        font-weight: bold;
                        width: 150px;
                        padding: 10px;
                        border-radius: 2px;
                        background-color: white;
                        color: rgb(61,22,22);
                    }
                    .my-button:hover {
                        background-color: hsl(var(--clr-accent));
                        color: hsl(var(--clr-primary));
                    }
                    .details {
                        padding: 150px 20px 20px 20px;
                    }
                    @media screen and (max-width: 390px) {
                        .details {
                            padding: 100px 20px 20px 20px;
                        }
                    } 
                }
            }
        }  
    }
}