#dishes_menu {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    .button-create {
        cursor: pointer;
        margin-left: 20px;
        font-size: 16px;
        height: 30px;
        width: 30px;
        background-color: hsl(var(--clr-secondary));
        color: hsl(var(--clr-neutral-900));
        border-radius: 1.125em;
    }
}
#menu {
    h2 {
        margin-left: 15px;
    }
    .container-card {
        display: flex;
    }
    .mycard {
        color: var(--clr-neutral-900);
        // padding: .8em;
        // min-height: 40ch;
        // background-color: hsl(var(--clr-accent)/ .2);
        // border-radius: 1.125em;
        // card main infoes
        .card-main-info {
            padding: 0 1em;
        }
        // card body
        .card-body {
            background-color: hsl(var(--clr-neutral-100));
            color: hsl(var(--clr-neutral-900));
            border-radius: 1.125em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // card content
            .card-content {
                .dish-img {
                    width: 20%;
                    // aspect-ratio: 1;
                    img {
                        object-fit: cover;
                        object-position: center;
                        width: 100%;
                        aspect-ratio: 1;
                        border-radius: 100%;
                        display: block;
                    }
                }
            }
        }
        // card footer
        .mod-container {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media screen and (max-width: 576px) {
                flex-direction: row;
                justify-content: start;
                
            }

            .modifiers {
                margin-bottom: 10px;
                cursor: pointer;
                display: inline-block;
                height: 2rem;
                width: 2rem;
                line-height: 2rem;
                border-radius: 50%;
                background-color: hsl(var(--clr-secondary));
                cursor: pointer;
                text-align: center;
                margin-right: 10px;
                margin-top: 20px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        
        img{
            display: none;
        }
        .card-body {
            padding: 0;
        }
    }
    
}