footer {
    text-align: left;
    color: hsl(var(--clr-neutral-100));
    a {
        color: hsl(var(--clr-neutral-100));
        cursor: pointer;
    }
    a:hover {
        text-decoration: none;
        color: hsl(var(--clr-accent));
    }
    // height: 300px;
    background-color: hsl(var(--clr-primary));
    .container {
        padding: 0;
        width: 80%;
        margin: auto;
        .footer-top {
           margin-left: 0 !important;
           margin-right: 0 !important;
            .dowload{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 20px;
                border-radius: 5px;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.2);
            }
            .navbar-footer {
                padding: 20px;
                border-radius: 5px;
                background-color: rgba($color: #000000, $alpha: 0.2);
                ul li {
                    list-style: none;
                    margin: 10px 0;
                }
            }
            .subscribe {
                padding: 20px;
                border-radius: 5px;
                background-color: rgba($color: #000000, $alpha: 0.2);
                height: 100%;
            }
            img {
                width: 25%;
                margin-right: 5px;
            }
        }
        .footer-bottom {
          a {
            font-size: 20px;
            margin-right: 20px;
            }
            .copyright {
                font-size: 12px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
} 