.login-register{
    margin: 100px auto;
    width: 60%;
    text-align: center;
    @media screen and (max-width:576px){
        width: 100%;
    }
    .blocktonone{
        display: block;
    }
    .nonetoblock{
        display: none;
    }
    .nonetoblock{
        @media screen and (max-width:768px){
                display: block;
        }
    }
    .blocktonone{
        @media screen and (max-width:768px){
                display: none;
        }
    }
    form{
        padding: 2em;
        border: solid 2px hsl(var(--clr-neutral-900));
        border-radius: 5px;
        width: 60%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        
        input{
            border: solid 1px hsl(var(--clr-neutral-900));
          }
          
        label{
            text-align: left;
            font-weight: bold;
            letter-spacing: 1px;
            margin-top: 5px;
        }
        .login-button{
            // border: solid 2px hsl(var(--clr-neutral-100));
            cursor: pointer;
            margin-top: 20px;
            background-color: hsl(var(--clr-primary));
            font-weight: bold;
            color: hsl(var(--clr-neutral-100));
            border-radius: 2px;
            width: 70%;
            height: 40px;
            padding: 5px;
        }
        .register-button{
            // border: solid 2px hsl(var(--clr-neutral-100));
            cursor: pointer;
            margin-top: 20px;
            background-color: hsl(var(--clr-primary));
            font-weight: bold;
            color: hsl(var(--clr-neutral-100));
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            width: 70%;
            height: 40px;
            padding: 5px;
        }
        .form-edit-buttons {
            display: flex;
            justify-content: flex-end;
        }
    }
    .form-login{
        margin-bottom: 50px;
        width: 60%;
    }
    .customer-form{
        width: 80%;
        .text-area{
            width: 70%;
            margin-bottom: 20px;
        }
    }
    .text-order{
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: 1px;
    }  
    
}




@media screen and (max-width:992px) {
    .loginRegister{
        width: 100%;
    }   

}
@media screen and (max-width:768px) {
    
    .loginRegister{
        width: 100%;
        .blocktonone{
            display: none;
        }
        .nonetoblock{
            display: block;
        }
    }
    #edit_form, 
    #create_form{
        width: 80%;
  
    }
    
}

@media screen and (max-width:576px) {
    .loginRegister{
        width: 100%;
        .form-control{
            height: 0;
            padding: 0;
        }
        .button-create{
            width: 60px;
        }
    }
    #edit_form,
    #create_form {
        width: 100%;
        border: unset;
    }  
}

@media screen and (min-width: 577px) and (max-width: 1000px) {
    .login-register {
        width: 90%;
    }
}