header{
    background-color: hsl(var(--clr-primary)/.95);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
}
nav{
    position: absolute;
    text-align: left;
    right: 0;
    background-color: hsl(var(--clr-primary));
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        li{
            margin-bottom: 1em;
            margin-left: 1em;
            a{
                color: hsl(var(--clr-neutral-900));
                text-decoration: none;
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                opacity: 0;
            }
            a:hover{
                color: hsl(var(--clr-accent));
            }
        }
    }
}
.nav-toggle{
    opacity: 0;
}
.nav-toggle-label{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;

}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background-color: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}
.nav-toggle-label span::before{
    bottom: 7px;
}
.nav-toggle-label span::after{
    top: 7px;
}

.nav-toggle:checked ~ nav{
    transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
    opacity: 1;
}