#restaurants,
#restaurantMenu {
    width: 100%;   
    // margin: auto;
    .container-select-type { 
        width: 100px;
        height: 50px;
        select{
            width: 100px;
            padding: 5px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: hsl(var(--clr-accent));
            background-color: hsl(var(--clr-primary));
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
            option {
                padding: 5px;
            }
        }
        select:after {
            border: 6px solid transparent;
            border-color: #fff transparent transparent transparent;
        }
   
    }
    li {
        padding: 1em 0;
        list-style-type: none;
        // transition: .7s;
        .card {
            height: 25ch;
            .business-img {
                width: 35%;
                min-width: 15ch;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .card-body {
                max-width: 65%;
                padding: 1em;
                p {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 5;
                    -webkit-box-orient: vertical;
                }
                h3 {
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            mark {
                background-color: limegreen;
            }
        }
    }
}
// .divisore{
//     margin-top: 150px;
// }
// restaurants
#restaurants {
    // general homepage container rules
    .container {
        h2 {
            text-align: center;
            font-size: 2rem;
            margin: 2rem 0;
            color: hsl(var(--clr-primary));
        }
        // favourites restaurants
        .row.flex-nowrap {
            overflow-x: scroll;
            overflow-y: hidden;
        }

        .types_container {
            margin: 2rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .type {
                min-width: 10ch;
                text-align: center;
                input[type="checkbox"] {
                    display: none;
                }
                label {
                    text-transform: uppercase;
                    cursor: pointer;
                    font-size: 1.5rem;
                    color: hsl(var(--clr-primary));
                    position: relative;
                }

                input[type="checkbox"] + label::after {
                    content: '';
                    display: block;
                    height: .125em;
                    background-color: hsl(var(--clr-secondary));
                    transform: scale(0,1);
                    transition: transform ease-in-out 250ms;
                }

                input[type="checkbox"]:checked + label::after {
                    transform: scale(1,1);
                }

                input[type="checkbox"]:checked + label {
                    color: hsl(var(--clr-secondary));
                    // text-shadow: 0 0 5px hsl(var(--clr-primary));
                }
            }
        }
    }
}
