#order-page{
    width: 100%;
    overflow: scroll;
    .orders-list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 10px 0;
        border: solid 2px black;
        &.itemGray{
            color: gray;
        }
    }


    .lst{
        display: flex;
        justify-content: space-between;

        .button{
           height: 40px;
        }
    }
    

}