#ristoranti{
    //debug
   
    
    .flexing{
        margin: 0 auto;
        width: 80%;
        justify-content: space-between;
        overflow: scroll;
        ul{
            height: 1000px;
        }
        
    }
    .cont-card{
        width: 80%;
    }
    .chart-container{
        width: 100%;
    }
    .container-details{
        width: 100%;
        
    }
    .overlay{
        position: absolute;
        background-color: rgba($color: #000000, $alpha: 1.0);
        opacity: .4;
        width: 100%;
        height: 100%;
    }
    .jambo-details{
        margin-top: 72px;
        position: relative;
        height: 200px;
        width: 100%;
        img{
            width: 100%;
            max-height: 100%;
            object-fit: cover;
            object-position: center;
        }
        h1{
            color: hsl(var(--clr-neutral-100));
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    }
    .details-card{
        display: block;
        height: 500px;
    }





    .restourant-container{
        width: 80%;
        margin: 0 auto;
        .chart-container-1{
            background-color: hsl(var(--clr-accent));
            display: flex;
            #cart{
                width: 100%;
            }
            ul{
                width: 100%;
            }
            .chart-object{
                padding: 0;
                .chart-info{
                    margin: 2px 5px 2px 0;
                    text-transform: uppercase;
                }
            }
        }
        .menu-container{
            .cards-container{
                width: 100%;
                margin: 0 auto;
                height: 1000px;
                overflow: scroll;
                .card_header{
                    height: 100px;
                    width: 100%;
                    // background-color: aqua;
                }
                .card_body{
                    max-height: 100px;
                    width: 100%;
                    // background-color: rgb(61, 107, 107);
                    p{
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                    }
                    .imgdish{
                        height: 100%;
                        img{
                            width: 100%;
                            max-height: 100%;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                }
                .card_footer{
                    height: 100px;
                    width: 100%;
                    // background-color: rgb(32, 44, 44);
                    .AddToCart{
                        margin-top: 10px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        .fa-plus{
                            font-size: 1.5rem;
                            margin-right: 10px
                        }
                    }
                }
                
            }
       }

       //chart/CartComponent
       .buy-button{
           background-color: hsl(var(--clr-primary));
           width: 100%;
           height: 40px;
           position: relative;
           border-radius: 2px;
            div{
                text-align: center;
                width: 150px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                color: hsl(var(--clr-neutral-100));
                font-weight: bold;
                letter-spacing: 1px;
            }
       }
       .trash{
           display: flex;
           justify-content: space-between;
        .fa-trash-alt{
            color: hsl(var(--clr-red));
            height: 40px;
            position: relative;
            border-radius: 2px;
       }
       }
       
       .chart-object{
           margin: 10px 0;
           width: 100%;
           display: flex;
       }
       
    }
    .active{
        display: block;
    }
    .totalPrice{
        font-weight: bold;
        width: 100%;
        text-align: right;
    }




    // mediaquery
    @media screen and (max-width: 768px) {
        
        .imgdish{
            display: none;
        }
        
        .card_body{
            height: 200px;
        }
        .chart-container-1{
            z-index: 9999;
            width: 100%;
            position: fixed;
            bottom: 0;
            left: 0;
            background-color: hsl(var(--clr-accent));
            display: flex;
            justify-content: space-around;
            .chart-container{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }
        #cart{
            width: 100%;
            .mobile-cart{
                padding: 0 20px;
                height: 100px;
                overflow: scroll;
            }
        }
            .buy-button{
                width: 30%;
                margin-right: 20px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        

    }
   
    
    

    
    
    
}




























//cards 
